{% extends "include/base.html.twig" %}

{% block content %}
    <h1>Current Resources</h1>

    <div>
        <a href="{{ path_for('request-resource') }}">Request New Resource</a>
    </div>

    <div>

    </div>
{% endblock %}
