{% extends "include/base.html.twig" %}

{% block content %}
    <h1>Resource Allocator</h1>
    <div>To ... well, to allocate resources.</div>

    <div>
        <a href="{{ path_for('login') }}">Log In</a>
    </div>
{% endblock %}
